

.App {
  min-height: 100vh;
  
}

.contentApp {
  
  margin-left: 200px;
  padding-top: 50px;
  background-color: #fff;
  height: 100vh;
  transition: margin-left 0.4s;
}


input[type="checkbox"]:checked ~ .contentApp {
  left: -120px;
}

